@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
.App-header {
  font-size: 1rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-bottom: 2rem;
}
.carousel-images {
  position: relative;
  border-radius: 10px;
  max-width: 650px;
  margin: auto;
  overflow: hidden;
}
.carousel-images img {
  border-radius: 8px;
  border: #e8e8e88e solid 2px;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  padding: 0 10px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px ;
  height: 30px;
  width: 30px;
}
.left {
  left: 0;
}
.right {
  right: 12px;
}
.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: #333;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.active {
  background-color: #d9d9d9;
}